# cluster_nodes.cfg
#   redis 单机伪分布式集群全部节点配置
# 本文件仅仅是一个配置模板, 具体集群必须根据实际情况
# 请务必手动更改下面的配置内容!

[redis_cluster]
nodes="node1,node2,node3"

[node1]
host="redis_ubuntu"
conf="redis-server.conf.0"
addrs="192.168.56.10 10.0.2.8"
ports="6377 6378 6379"

[node2]
host="redis_ubuntu"
conf="redis-server.conf.0"
addrs="192.168.56.10 10.0.2.8"
ports="6387, 6388, 6389"

[node3]
host="redis_ubuntu"
conf="redis-server.conf.0"
addrs="192.168.56.10 10.0.2.8"
ports="6397 6398 6399"
