#---------------------------------------------------
# springboot ssl config: application.properties
#-----------------BEGIN-----------------------------
# SSL config
#  http://archive.mozilla.org/pub/firefox/releases/
server.ssl.enabled=true

# 如果服务端需要认证客户端, 下面一句一定要加上！
server.ssl.client-auth=need

server.ssl.key-store=classpath:server.keystore
server.ssl.key-store-password=/CN4rd0L
server.ssl.key-alias=server
server.ssl.keyAlias=server
server.ssl.key-store-type=JKS
server.ssl.keyStoreType=JKS

server.ssl.trust-store=classpath:server_trust.keystore
server.ssl.trust-store-password=/CN4rd0L
server.ssl.trust-store-type=JKS
server.ssl.trust-store-provider=SUN
#-------------------END-----------------------------
